doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title=pageTitle
		link(rel="stylesheet",href="css/font-awesome.min.css")
		link(rel="stylesheet",href="css/icomoon.css")
		link(rel="stylesheet",href="css/bootstrap.min.css")
		script(type="text/javascript",src="js/jquery.easing.min.js")
		script(type="text/javascript",src="js/booststrap.min.js")
		link(rel="stylesheet",href="css/main.css")
	body
		.container
			.row.fondo
				.capa
					.row
						img.pull-left.spac_lados.img-responsive(src="image/user-r.png")
						ul.spac_lados.list-unstyled.list-inline.pull-right
							li.menu
								a.color_white(href="#") ¿Qué me ofrece?
							li
								a.color_white(href="#") ¿Cómo funciona?
							li
								a.color_white(href="#") ¿Por qué usarlo?
							li
								a.color_white(href="#") Contáctanos
						h1.titulo.text-center Obten videos de persona utilizando este siio Web.
			.row.fondo_celes
				.col-md-6.text-right
					h4 Pruebalo Gratis
					p Obten un video gratis en 5 minutos
				.col-md-6.text-left
					a(href='contact.html' target='_blank')
						button.btn.btn-primary.btp Prueba Gartis
			.row.text-center
				h2.subtitulos Nuestros Servicios
				.col-md-4
					p.tamano_icn
						i.icon-video
					h4.color_blu Prueba Gratis
					p lorem jd ajdjsad jasdjasnd adjandja asjcnasdjc asjcndajc ascjadc
				.col-md-4
					p.tamano_icn
						i.icon-clock
					h4.color_blu Prueba Gratis
					p lorem jd ajdjsad jasdjasnd adjandja asjcnasdjc asjcndajc ascjadc
				.col-md-4
					p.tamano_icn
						i.icon-documents
					h4.color_blu Prueba Gratis
					p lorem jd ajdjsad jasdjasnd adjandja asjcnasdjc asjcndajc ascjadc
				img.icono_fin(src="image/separador.png")
				hr
			.row
				.col-md-6.mgle4.mga6
					h2.color_blu.text-center Ejemplo de
						img.tam_lg(src="image/logo-2.jpg")
					p Lorem hashhas shhahsha ashahs sjcshc sajcasjcsac sackcjsacsdhajscascjasjsjjas
						p.color_blu nsndnasdnandsdasad
					p sajdjsajdasjdsjsabdjsbdjabsjdabsjdjbjcbjcbjbcjbajcbajs cjascbsc cjasbc casjcbj cajcsc jjjjj casjc j cjasc acj cj cjas cjs cjsac jascsa cjasc jac ajsc jcs acjas cj scj jas cjsa cjsa c caca
					img.btp.mg_cent.img-responsive(src="image/flecha.png")
				.col-md-6.mga6
					.video
						iframe(src='https://www.youtube.com/embed/8dndw44XFC4' width='100%' height='305' frameborder='0' webkitallowfullscreen='' mozallowfullscreen='' allowfullscreen='')
			.row
				.col-md-6
					img.img_lap.img-responsive(src="image/sec-2.jpg")
					p.derecha
						i.icon-pencil.icon
					p.derecha
						i.icon-search.icon
					p.derecha
						i.icon-pencil.icon
					img.derecha_icon(src="image/separador.png")
				.col-md-6.mgle4
					h4.mga6 Lo Quiero ¿Que hago?
					h6.color_blu Paso1:envianos tu link
					p.mgb5 Al darle click asdj sadjsand asjc csajc sc cajs sajc jcs a csja cjsac
					h6.color_blu Paso2:envianos tu link
					p Al darle click asdj sadjsand asjc
					ul
						li A primera vista
						li A primera vista
						li A primera vista
					p.mgb5 hjhb jhb j jnbb hhhh jjjj
					h6.color_blu Paso3:envianos tu link
					p.mgb5 Al darle click asdj sadjsand asjc csajc sc cajs sajc jcs a csja cjsac
			.row
				.col-md-6.mgle4.mga6
					h2.color_blu.text-center Por qué usar
						img.tam_lg(src="image/logo-2.jpg")
					p Lorem ha adas dad ad asda shhas shhahsha adsa sad sa dsa as dsada dasdsaashahs sjcshc sajcasjcsacspackcjsacsdhajscascjasjsjjas<strong>sjjasdjsajd</strong>sajdnasjd asda sad sadas das d sadsa dsadas dasdasdas dasd dnsajsdasd asdascas cjasjcndjc njdncjadnc <strong>sjjasdjsajd</strong>jdancjandcjdaejndjwndj ewjdnewjnd d csdc dc sd csd csd c sdc dsc sdc s c ejwn:
					ul.mga6
						li A primera vista
						li A primera vista
						li A primera vista
					p sajdjsa <strong>sjjasdjsajd</strong> jdasjdsjsabdjsbdjabsjdabsjdjbjcbjcbjbcjbajcbajs cjascbsc cjasbc casjcbj cajcscdscd cds c sd cdscds cds cc jjjjj casjc j jasjcs acjas cj scj jas cjsa cjsa c caca
				.col-md-6.mga6
					img.imgjov(src="image/banner.jpg")
			.row.text-center.fondo_celes
				.col-md-6.btp
					h4 Pruebalo Gratis
					p Obten un video gratis en 5 minutos
				.col-md-6.btp
					a(href='contact.html' target='_blank')
						button.btn.btn-primary.btp Prueba Gartis
			.row.fondo_azul
				.col-md-6.mg2
					p Escribanos a
					p.color_blu sjsajascnjsacn@gmail.com
					p Telefono: 4651516
				.col-md-6.mg2
					p.pdlefmas
						i.icon-pencil.icon_footer
						i.icon-search.icon_footer
					p.pdleft csnjc@cnscacsac sach








			
					


					
